{% extends "index/base.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>{% block title %}signUp{% endblock title %}</title>  
  </head>
  <body>
    {% block content %}
    <style>
        .container{
            box-sizing: border-box;
            box-shadow: 1px 5px 8px 4px;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 1px solid white;
            opacity: 70%;
        }
        .container h1{
            text-shadow: 1px 3px 5px black;
            color: white;
        }
        .my-5{
            box-shadow: 1px 5px 8px 4px;
        }
    </style>
        <div class="container text-center p-4 my-5">
          <h1 class="fw-bold mb-3">sign Up</h1>
          <form action="{% url 'signup' %}" method="POST">
              {% csrf_token %}
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="firstname">
                  <label for="floatingInput">firstname</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname">
                  <label for="floatingInput">lastname</label>
                </div>
              <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="username" class="form-control" id="username" name="username" placeholder="username">
                  <label for="floatingInput">username</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="repassword" name="repassword"  placeholder="ReEnterPassword">
                  <label for="floatingPassword">ReEnterPassword</label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">signup</button>
          </form>
      </div>
    {% endblock content %}

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
  </body>
</html>